html{
	background-color:#000;
}
body{
	background-color:#fcc;
	width:70%; padding:1%;
}
h1{
	background-color:#333; color:#fcc; 
	width:70%; padding:1%;
}
div{
	width:200px; height:200px;
	border-radius:100px;
	background-color: #f00;
	transition: width .2s ease-out;
	-webkit-transition: width .2s ease-out;
}
div:hover{
	width:400px;
}
.final{
	width:400px;
}